<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Exchange Platform</title>
    <link rel="stylesheet" href="css/styles 1.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Stock Exchange Platform</h1>
        </header>
        <div class="buttons">
            <button onclick="window.location.href='/signup'">Sign Up</button>
            <button onclick="window.location.href='/login'">Log In</button>
        </div>
    </div>
    <script src="css/script.js"></script>
</body>
</html>
